<nav class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Restorando</a>
        </div>
        <div class="collapse navbar-collapse" id="navbar" >
            <ul class="nav navbar-nav navbar-right hidden-xs">
                <li role="presentation" class="active"><a href="#">Menú</a></li>
                <li role="presentation"><a href="#">Promociones</a></li>
                <li role="presentation"><a href="#">Empleados</a></li>
                <li role="presentation"><a href="#">Reportes</a></li>
            </ul>

            <!-- MENU COLLPASE FOR MOBILE -->
            <ul class="nav navbar-nav hidden-lg hidden-md hidden-sm">
                <li role="presentation" class="active"><a href="#">Menú</a></li>
                <li role="presentation"><a href="#">Promociones</a></li>
                <li role="presentation"><a href="#">Empleados</a></li>
                <li role="presentation"><a href="#">Reportes</a></li>
            </ul>
        </div>
    </div>
</nav>
